<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
      text ="Volver"
      mode ="ios"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button routerLink="/r-usuarios">Registro Usuarios</ion-button>
<ion-button routerLink="/r-egresos">Registro Egresos</ion-button>
<ion-button routerLink="/l-usuarios">Lista Usuarios</ion-button>
<ion-button routerLink="/l-egresos">Lista Egresos</ion-button>
</ion-content>
