<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text ="Volver"
      mode="ios"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button routerLink="/r-usuarios">Registro de usuarios</ion-button>
<ion-button routerLink="/r-egresos">Registro de egresos</ion-button>
<ion-button routerLink="/l-usuarios">Listar usuarios</ion-button>
<ion-button routerLink="/l-egresos">Listar egresos</ion-button>
</ion-content>
